{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
    <h1>
        Register page
    </h1>
    <p class="lead">
        This is the registration page.
    </p>
    <div>
        <div>{{ status }}</div>
        <div>{{ token }}</div>
    </div>
    <form action="{{ url }}" method="post">
        <input type="hidden" name="next" value="{{ next_url }}">

        <div>
            <label for="username">
                {% trans %}Username{% endtrans %}
                <input type="text" name="username" value="{{ username }}">
            </label>
        </div>

        <div>
            <label for="firstname">
                {% trans %}Firstname{% endtrans %}
                <input type="text" name="firstname" value="{{ firstname }}">
            </label>
        </div>

        <div>
            <label for="lastname">
                {% trans %}Lastname{% endtrans %}
                <input type="text" name="lastname" value="{{ lastname }}">
            </label>
        </div>

        <div>
            <label for="email">
                Email
                <input type="text" name="email" value="{{ email }}">
            </label>
        </div>

        <div>
            <label for="password">
                {% trans %}Password{% endtrans %}
                <input type="password" name="password">
            </label>
        </div>

        <div class="grid-x">
            <div class="medium-4 medium-offset-4 cell">
                <button class="button cell" type="submit" name="form.submitted" value="Log In">
                    {% trans %}Register{% endtrans %}
                </button>
            </div>
        </div>

    </form>
</div>
{% endblock content %}